@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --bg-color: #FEFAE0;
  --main-color: #606C38;
  --secondary-color: #283618;
  --third-color: #adc178;
  --button-color: #283618;
  --button-hover-color: hsla(83, 36%, 4%, 0.7);
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--bg-color);
}